body {
    position: relative;
    top: 0;
}
#header {
    position: fixed;
    top: 0;
}

#nav-bar {
    background: white;
}

#about {
    padding-top: 300px;
}

#header-img {
    background: white;
}